# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres....pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.......supabase.com:5432/postgres"

NODE_VERSION=22.17.0

JWT_SECRET="Clave generada larga y dificil"
