---
const videoId = "2bG9pTD_6xA";
---


<div class="container mx-auto mt-2 mb-8 p-6 ">
  <p class="text-xl font-semibold p-4 dark:text-white m-4 text-center ">My latest Video ❤️</p>
    <lite-youtube class="aspect-video w-full rounded-3xl"videoid={videoId}>
      <a  href="https://www.youtube.com/watch?v={videoId}">Watch on YouTube: "Sample output of devtools-to-video cli tool"</a>
    </lite-youtube>
</div>

